<footer id="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 mb-lg-0 mb-4">
        <aside class="widget widget_about">
          <div class="footer-logo">
            <img src="assets/img/logofooter.png" alt="" />
          </div>
          <p class="widget-text">
            "Enhance people’s working lives through the best technologies" .
          </p>
          <a
            >Go for details <i class="icofont icofont-long-arrow-right"></i
          ></a>
        </aside>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-12 mb-lg-0 mb-4">
        <aside class="widget widget_pages">
          <h4 class="widget-title" style="margin-left: 30%;">Web Pages</h4>
          <div class="title-border"></div>
          <div class="row" style="margin-left: 25%;">
            <div class="col-2">Home</div>
          </div>
          <br>
          <div class="row" style="margin-left: 37%;">
            <div class="row">About-us</div>
          </div>
          <br>
          <div class="row" style="margin-left: 25%;">
            <div class="col-2">Services</div>
          </div>
          <br>
          <div class="row" style="margin-left: 25%;">
            <div class="col-2">Contact</div>
          </div>

          <br>

        </aside>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mb-lg-0 mb-md-0 mb-4">
        <aside class="widget widget_recent">
          <h4 class="widget-title">Contact information
          </h4>
          <ul>
            <li class="recent-item">
              <a>
                <h5 style="font-size: larger">
                  <i
                    class="icon icofont icofont-location-pin icofont-x"
                    style="color: #ffffff"
                  >
                  </i>
                </h5>
                <p
                  style="margin-top: -22px; margin-left: 20px; font-size: 15px"
                >
                  &nbsp;85 Bd Jean Jaurès, 91100 Corbeil-Essonnes
                </p>
              </a>
            </li>
            <li class="recent-item">
              <a>
                <h5 style="font-size: larger">
                  <i class="icon icofont icofont-email" style="color: #ffffff">
                  </i>
                </h5>
                <p
                  style="margin-top: -22px; margin-left: 20px; font-size: 17px"
                >
                  &nbsp;contact@undin.fr
                </p>
              </a>
            </li>
            <li class="recent-item">
              <a>
                <h5 style="font-size: larger">
                  <i
                    class="icon icofont icofont-ui-call"
                    style="color: #ffffff"
                  >
                  </i>
                </h5>
                <p
                  style="margin-top: -22px; margin-left: 20px; font-size: 17px"
                >
                  &nbsp;+33 9 77 19 66 55
                </p>
              </a>
            </li>
          </ul>
          <br>
          <aside class="widget widget_contact">
            <form class="#" action="#">
              <input type="text" placeholder="Email here" />
              <button class="footer-subscribe boxed-btn" type="submit">
                Subscribe
              </button>
            </form>



          </aside>
        </aside>
      </div>

    </div>
  </div>
</footer>
<section id="footer-copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <p>Copyright ©2020 Undin. All Rights Reserved.</p>
          <a class="scrollup" style="color: #ffffff;"><i class="fa fa-arrow-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
