<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon" />


</head>

<body>
    <!-- Start: Preloader
    ============================= -->

    <!-- <div class="preloader">
        <div class="loader"></div>
    </div> -->

    <!-- End: Preloader
    ============================= -->

    <!-- Start: Header Top
    ============================= -->
    <section id="header-top">
  <div class="container">

      <div class="row">
          <div class="col-lg-6 text-md-left text-center mb-lg-0 mb-1">
              <ul class="header-social d-inline-block">
                  <li><a><i class="icofont icofont-social-facebook"></i></a></li>
                  <li><a><i class="icofont icofont-social-twitter"></i></a></li>
                  <li><a><i class="icofont icofont-social-linkedin"></i></a></li>
                  <li><a><i class="icofont icofont-social-tumblr"></i></a></li>
                  <li><a><i class="icofont icofont-social-dribbble"></i></a></li>
              </ul>
              <div class="address d-inline-block"><i class="icofont icofont-social-google-map mr-2"></i>85 Bd Jean Jaurès, 91100 Corbeil-Essonnes, France</div>
          </div>
          <div class="col-6  text-center  mb-lg-0 mb-1 text-md-right" style="margin-top: -1.5%;">
              <div class="email d-inline-block" >
                  <a><i class="fa fa-envelope-o mr-2"></i>Quick Email</a>
              </div>
              <div class="phone d-inline-block">
                  <i class="fa fa-phone mr-2"></i>+33 9 77 19 66 55

              </div>
          </div>
      </div>
  </div>
</section>
    <!-- End: Header Top
    ============================= -->

    <!-- Start: Search
    ============================= -->

    <!-- End: Search
    ============================= -->


    <!-- Start: Header
    ============================= -->
    <header id="header">

        <!-- Navigation Starts -->
        <div class="navbar-area sticky-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="logo main">
                            <a ><img class="responsive" src="assets/img/logo.png"></a>
                        </div>
                    </div>

                    <!-- Nav -->
                    <div class="col-lg-6 d-none d-lg-block">
                      <nav class="text-right main-menu">
                          <ul>
                              <li>
                                <a  routerLink="/home">Home</a>
                              </li>
                              <li  class="active"><a routerLink="/about-us">About</a></li>

                              <li><a  routerLink="/service">Services</a></li>
                              <li><a routerLink="/home">Portfolio</a>

                              </li>
                              <li><a routerLink="/home">Gallery</a></li>
                              <li><a routerLink="/home" >Blog </a>

                              </li>
                              <li><a  routerLink="/contact">Contact</a></li>
                          </ul>
                      </nav>
                  </div>
                    <!-- Nav End -->

                   
                </div>
            </div>

            <!-- Start Mobile Menu -->

            <!-- End Mobile Menu -->
        </div>
        <!-- Navigation End -->

        <!-- Breadcrumb Area -->
        <section id="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>About Us</h1>
                        <ul class="breadcrumb-nav list-inline">
                            <li><a >Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </header>
    <!-- End: Header
    ============================= -->

    <!-- Start: About US
    ============================= -->
    <section id="about-us" class="section-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="section-header text-left">
                        <span class="section-before"></span>
                        <h2>Who we are</h2>
                    </div>
                    <div class="section-info">
                      <p>Undin is a young, ambitious, professional  software development & consulting company, that designs, builds and implements effective software technology solutions to fulfill the needs of our customers. We provide technology consulting, digital transformation and software development services using the latest technologies. We leverage every piece of our technical and management expertise to deliver solutions that meet customer’s needs, business and budget expectations, Our team operates with enthusiasm and flexibility.</p>
                      <br>
                      <p> We are focused on our customers, being their reliable partner for IT services and solutions, working together on a partnership basis, helping them face the challenges of the modern times.</p>
                  </div>
                    <a class="boxed-btn">Contact Us <i class="icofont icofont-long-arrow-right"></i></a>
                </div>
                <div class="col-lg-6">
                    <div class="video-section">
                        <div class="play-icon">
                            <a  class="playbtn mfp-iframe"><img src="assets/img/aboutus/play-icon.png" alt=""></a>
                        </div>
                        <div class="watch-more">
                            <a >Watch more <i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End: About US
    ============================= -->

    <!-- Start: Our skill
    ============================= -->


    <section id="about-us" class="section-padding-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-lg-0 mb-4">
              <div class="section-header text-left">
                                  <span class="section-before"></span>

                  <h2>Our Values</h2>
                  <p>Publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
              </div>
          </div>
      </div>

          <div class="row text-lg-left text-md-center">
              <div class="col-md-4 mb-lg-0 mb-3">
                  <div class="features-list-item wow fadeInUp" data-wow-delay="0.1s" style="background-color: #233049;">
                      <span class="icon"><i class="icofont icofont-triangle"></i></span>
                      <h4>Excellence</h4>
                      <p style="color: blanchedalmond;">We are committed to an approach of organizational and operational excellence</p>
                  </div>
              </div>
              <div class="col-md-4 mb-md-0 mb-3">
                  <div class="features-list-item wow fadeInUp" data-wow-delay="0.2s" style="background-color: #233049;">
                      <span class="icon"><i class="icofont icofont-brand-airtel"></i></span>
                      <h4>Innovation
                      </h4>
                      <p style="color: blanchedalmond;">Standing for creativity, we force ourselves to be creative</p>
                      <a style="color: #233049;">View more</a>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="features-list-item wow fadeInUp" data-wow-delay="0.3s" style="background-color: #233049;">
                      <span class="icon"><i class="icofont icofont-brand-teliasonera"></i></span>
                      <h4>Transparence
                      </h4>
                      <p style="color: blanchedalmond;">Our policy of transparency is for us, the assurance of a successful partnership with our customers.</p>
                  </div>
              </div>
          </div>
          <br>
          <div class="row text-lg-left text-md-center">
            <div class="col-md-4 mb-lg-0 mb-3">
                <div class="features-list-item wow fadeInUp" data-wow-delay="0.4s" style="background-color: #233049;">
                    <span class="icon"><i class="icofont icofont-triangle"></i></span>
                    <h4>Citizen enterprise

                    </h4>
                    <p style="color: blanchedalmond;">We are part of a process of collective and individual development</p>
                    <a style="color: #233049;">dsf</a>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <div class="features-list-item wow fadeInUp" data-wow-delay="0.5s" style="background-color: #233049;">
                    <span class="icon"><i class="icofont icofont-brand-airtel"></i></span>
                    <h4>Proximity

                    </h4>
                    <p style="color: blanchedalmond;">We maintain a close relationship with our customers based on trust.</p>
                    <a style="color: #233049;">dsf</a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="features-list-item wow fadeInUp" data-wow-delay="0.6s" style="background-color: #233049;">
                    <span class="icon"><i class="icofont icofont-brand-teliasonera"></i></span>
                    <h4>Professionalism

                    </h4>
                    <p style="color: blanchedalmond;">A competent team of engineers and experienced professionals</p>
                    <a style="color: #233049;">dsf</a>
                </div>
            </div>
        </div>
      </div>
    </section>





    <!-- End: Our skill
    ============================= -->

    <!-- Start: Our Team
    ============================= -->

    <!-- End: Our Team
    ============================= -->

    <!-- Start: Our Client
    ============================= -->
    <section id="our-client" class="section-padding">
        <div class="container">

            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <div class="section-header">
                        <h2>Our Client</h2>
                        <p>Publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="client-carousel">
                        <div class="single-client">
                            <div class="inner-client">
                                <img src="assets/img/aboutus/clients/client-1.png" alt="">
                            </div>
                        </div>
                        <div class="single-client">
                            <div class="inner-client">
                                <img src="assets/img/aboutus/clients/client-2.png" alt="">
                            </div>
                        </div>
                        <div class="single-client">
                            <div class="inner-client">
                                <img src="assets/img/aboutus/clients/client-3.png" alt="">
                            </div>
                        </div>
                        <div class="single-client">
                            <div class="inner-client">
                                <img src="assets/img/aboutus/clients/client-4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="about-us" class="section-padding-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-lg-0 mb-4">
              <div class="section-header text-left">
                                  <span class="section-before"></span>

                  <h2>Our mission</h2>
                  <p>We are a community of entrepreneurs and craftspeople, passionate about achieving excellence for our clients and partners.</p>
                  <p>We create the solutions our clients need by putting the people with the right skills in the room. We care about finding and delivering the right solution for them.</p>              </div>
          </div>
      </div>

      </div>
    </section>
    <!-- End: Our Client
    ============================= -->

    <!-- Start: Footer Sidebar
    ============================= -->


    <!-- End: Footer Copyright
    ============================= -->

    <!-- Scripts -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/jquery.shuffle.min.js"></script>
    <script src="assets/js/jquery.sticky.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/wow.min.js"></script>

    <!-- Smooth Scroll -->

    <!-- Map Script -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqoWGSQYygV-G1P5tVrj-dM2rVHR5wOGY"></script>
    <script src="assets/js/map-script.js"></script> -->

    <!-- Custom Script -->
    <script src="assets/js/custom.js"></script>

	<!-- =========================================================
		 STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
	============================================================== -->
	<script type="text/javascript" src="demo/styleswitcher.js"></script>
	<script type="text/javascript" src="demo/demo.js"></script>


</body>







</html>
