<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon" />


</head>

<body>
    <!-- Start: Preloader
    ============================= -->

    <!-- <div class="preloader">
        <div class="loader"></div>
    </div> -->

    <!-- End: Preloader
    ============================= -->

    <!-- Start: Header Top
    ============================= -->
    <section id="header-top">
      <div class="container">
    
          <div class="row">
              <div class="col-lg-6 text-md-left text-center mb-lg-0 mb-1">
                  <ul class="header-social d-inline-block">
                      <li><a><i class="icofont icofont-social-facebook"></i></a></li>
                      <li><a><i class="icofont icofont-social-twitter"></i></a></li>
                      <li><a><i class="icofont icofont-social-linkedin"></i></a></li>
                      <li><a><i class="icofont icofont-social-tumblr"></i></a></li>
                      <li><a><i class="icofont icofont-social-dribbble"></i></a></li>
                  </ul>
                  <div class="address d-inline-block"><i class="icofont icofont-social-google-map mr-2"></i>85 Bd Jean Jaurès, 91100 Corbeil-Essonnes, France</div>
              </div>
              <div class="col-6  text-center  mb-lg-0 mb-1 text-md-right" style="margin-top: -1.5%;">
                  <div class="email d-inline-block" >
                      <a><i class="fa fa-envelope-o mr-2"></i>Quick Email</a>
                  </div>
                  <div class="phone d-inline-block">
                      <i class="fa fa-phone mr-2"></i>+33 9 77 19 66 55
    
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- End: Header Top
    ============================= -->

    <!-- Start: Search
    ============================= -->

    <div id="search">
        <a id="close-btn">
        <i class="fa fa-times"></i>
        </a>
        <div>
            <input placeholder="type here" id="searchbox" type="search" />
            <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
        </div>
    </div>

    <!-- End: Search
    ============================= -->


    <!-- Start: Header
    ============================= -->
    <header id="header">

        <!-- Navigation Starts -->
        <div class="navbar-area sticky-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="logo main">
                            <a ><img class="responsive" src="assets/img/logo.png" ></a>
                        </div>
                    </div>

                    <!-- Nav -->
                    <div class="col-lg-6 d-none d-lg-block">
                      <nav class="text-right main-menu">
                          <ul>
                              <li>
                                  <a  routerLink="/home">Home</a>
                              </li>
                              <li><a routerLink="/about-us">About</a></li>

                              <li><a  routerLink="/service">Services</a></li>
                              <li><a routerLink="/home">Portfolio</a>

                              </li>
                              <li><a routerLink="/home">Gallery</a></li>
                              <li><a routerLink="/home" >Blog </a>

                              </li>
                              <li class="active"><a  routerLink="/contact">Contact</a></li>
                          </ul>
                      </nav>
                  </div>
                    <!-- Nav End -->

                 
                </div>
            </div>

            <!-- Start Mobile Menu -->

            <!-- End Mobile Menu -->
        </div>
        <!-- Navigation End -->

        <!-- Breadcrumb Area -->
        <section id="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>Contact Us
                        </h1>
                        <ul class="breadcrumb-nav list-inline">
                            <li><a>Home</a></li>
                            <li class="active">Contact Us
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
<br>
<section id="contact-us-page">
  <div class="container">

      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-lg-0 mb-5">
              <div class="office">
                  <i class="icon icofont icofont-location-pin"></i>
                  <h4>CA office address</h4>
                  <ul>
                      <li>Street : 2810 Argonne Street </li>
                      <li>City : Eagleville </li>
                      <li>Zip Code : 19403</li>
                  </ul>
                  <ul class="contact-social">
                      <li><a><i class="icofont icofont-social-twitter"></i></a></li>
                      <li><a><i class="icofont icofont-social-linkedin"></i></a></li>
                      <li><a><i class="icofont icofont-social-tumblr"></i></a></li>
                      <li><a><i class="icofont icofont-social-dribbble"></i></a></li>
                      <li><a><i class="icofont icofont-social-instagram"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-lg-0 mb-5">
              <div class="office">
                  <i class="icon icofont icofont-location-pin"></i>
                  <h4>USA office address</h4>
                  <ul>
                      <li>Street : 2810 Argonne Street </li>
                      <li>City : Eagleville </li>
                      <li>Zip Code : 19403</li>
                  </ul>
                  <ul class="contact-social">
                      <li><a><i class="icofont icofont-social-twitter"></i></a></li>
                      <li><a><i class="icofont icofont-social-linkedin"></i></a></li>
                      <li><a><i class="icofont icofont-social-tumblr"></i></a></li>
                      <li><a><i class="icofont icofont-social-dribbble"></i></a></li>
                      <li><a><i class="icofont icofont-social-instagram"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-12">
              <div class="office">
                  <i class="icon icofont icofont-location-pin"></i>
                  <h4>Uk office address</h4>
                  <ul>
                      <li>Street : 2810 Argonne Street </li>
                      <li>City : Eagleville </li>
                      <li>Zip Code : 19403</li>
                  </ul>
                  <ul class="contact-social">
                      <li><a><i class="icofont icofont-social-twitter"></i></a></li>
                      <li><a><i class="icofont icofont-social-linkedin"></i></a></li>
                      <li><a><i class="icofont icofont-social-tumblr"></i></a></li>
                      <li><a><i class="icofont icofont-social-dribbble"></i></a></li>
                      <li><a><i class="icofont icofont-social-instagram"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>

  </div>
</section>
<br>
<section id="contact-area">
  <div id="map"></div>
  <br>

  <div class="contact-box">
      <div class="row">
          <div class="col-lg-5 col-md-12">
              <div class="contact-us-info">
                  <h3>Contact Us</h3>
                  <ul class="contact-info">
                      <li>
                          <i class="icofont icofont-location-pin"></i>
                          <p>85 Bd Jean Jaurès, 91100 Corbeil-Essonnes, France</p>
                      </li>
                      <li>
                          <i class="icofont icofont-email"></i>
                          <p><a  class="__cf_email__" data-cfemail="90f1fdf9fcd0f3fffde0f1fee9bef3fffd">contact@undin.fr</a>
                              <br> <a  class="__cf_email__" data-cfemail="751c1b131a35111a18141c1b5b161a18">contact@undin.fr</a></p>
                      </li>
                      <li>
                          <i class="icofont icofont-ui-call"></i>
                          <p>+33 9 77 19 66 55
                              <br> +33 9 77 19 66 55</p>
                      </li>
                  </ul>
                  <a class="live-chat boxed-btn">Live Chat</a>

              </div>
          </div>
          <div class="col-lg-7 col-md-12">
              <div class="get-in-touch">
                  <h3>Get in Touch</h3>
                  <p>Feel free to contact with us</p>
                  <form method="post">
                      <input type="text" name="your_name" class="form-control" id="name" placeholder="Your name" required>
                      <input type="email" name="your_mail" class="form-control" id="email" placeholder="Email here" required>
                      <textarea name="your_message" class="form-control" rows="1" placeholder="Type your message" required></textarea>
                      <button type="submit" class="boxed-btn"> Submit</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
    </header>
    </body>
