<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon" />


</head>

<body>
    <!-- Start: Preloader
    ============================= -->

    <!-- <div class="preloader">
        <div class="loader"></div>
    </div> -->

    <!-- End: Preloader
    ============================= -->

    <!-- Start: Header Top
    ============================= -->
    <section id="header-top">
      <div class="container">
    
          <div class="row">
              <div class="col-lg-6 text-md-left text-center mb-lg-0 mb-1">
                  <ul class="header-social d-inline-block">
                      <li><a><i class="icofont icofont-social-facebook"></i></a></li>
                      <li><a><i class="icofont icofont-social-twitter"></i></a></li>
                      <li><a><i class="icofont icofont-social-linkedin"></i></a></li>
                      <li><a><i class="icofont icofont-social-tumblr"></i></a></li>
                      <li><a><i class="icofont icofont-social-dribbble"></i></a></li>
                  </ul>
                  <div class="address d-inline-block"><i class="icofont icofont-social-google-map mr-2"></i>85 Bd Jean Jaurès, 91100 Corbeil-Essonnes, France</div>
              </div>
              <div class="col-6  text-center  mb-lg-0 mb-1 text-md-right" style="margin-top: -1.5%;">
                  <div class="email d-inline-block" >
                      <a><i class="fa fa-envelope-o mr-2"></i>Quick Email</a>
                  </div>
                  <div class="phone d-inline-block">
                      <i class="fa fa-phone mr-2"></i>+33 9 77 19 66 55
    
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- End: Header Top
    ============================= -->

    <!-- Start: Search
    ============================= -->

    <div id="search">
        <a id="close-btn">
        <i class="fa fa-times"></i>
        </a>
        <div>
            <input placeholder="type here" id="searchbox" type="search" />
            <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
        </div>
    </div>

    <!-- End: Search
    ============================= -->


    <!-- Start: Header
    ============================= -->
    <header id="header">

        <!-- Navigation Starts -->
        <div class="navbar-area sticky-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="logo main">
                            <a ><img class="responsive" src="assets/img/logo.png" ></a>
                        </div>
                    </div>

                    <!-- Nav -->
                    <div class="col-lg-6 d-none d-lg-block">
                      <nav class="text-right main-menu">
                          <ul>
                              <li >
                                  <a  routerLink="/home">Home</a>
                              </li>
                              <li><a routerLink="/about-us">About</a></li>

                              <li class="active"><a  routerLink="/service">Services</a></li>
                              <li><a routerLink="/home">Portfolio</a>

                              </li>
                              <li><a routerLink="/home">Gallery</a></li>
                              <li><a routerLink="/home" >Blog </a>

                              </li>
                              <li><a  routerLink="/contact">Contact</a></li>
                          </ul>
                      </nav>
                  </div>
                    <!-- Nav End -->

                  
                </div>
            </div>

            <!-- Start Mobile Menu -->
           
            <!-- End Mobile Menu -->
        </div>
        <!-- Navigation End -->

        <!-- Breadcrumb Area -->
        <section id="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>Service</h1>
                        <ul class="breadcrumb-nav list-inline">
                            <li><a>Home</a></li>
                            <li class="active">Service</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </header>
    <section id="service-page" class="section-padding-80">
      <div class="container">

          <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-center mb-5">
                  <div class="servicepage-item">
                      <div class="service-icon">
                          <i class="icofont icofont-circuit"></i>
                      </div>
                      <h4>UI/UX Design</h4>
                      <p>We offer professional web design services at affordable rates to help your business attract more visitors!</p>
                      <a class="learn-more">Learn More <i class="icofont icofont-long-arrow-right"></i></a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-center mb-5">
                  <div class="servicepage-item">
                      <div class="service-icon">
                          <i class="icofont icofont-canoe"></i>
                      </div>
                      <h4>Web Development</h4>
                      <p>We offer professional web design services at affordable rates to help your business attract more visitors!</p>
                      <a class="learn-more">Learn More <i class="icofont icofont-long-arrow-right"></i></a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-center mb-5">
                  <div class="servicepage-item">
                      <div class="service-icon">
                          <i class="icofont icofont-butterfly-alt"></i>
                      </div>
                      <h4>App Development</h4>
                      <p>We offer professional web design services at affordable rates to help your business attract more visitors!</p>
                      <a class="learn-more">Learn More <i class="icofont icofont-long-arrow-right"></i></a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-center mb-5">
                  <div class="servicepage-item">
                      <div class="service-icon">
                          <i class="icofont icofont-unity-hand"></i>
                      </div>
                      <h4>SEO Optimisation</h4>
                      <p>We offer professional web design services at affordable rates to help your business attract more visitors!</p>
                      <a class="learn-more">Learn More <i class="icofont icofont-long-arrow-right"></i></a>
                  </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-center mb-5 mb-lg-0">
                  <div class="servicepage-item">
                      <div class="service-icon">
                        <i class="icofont icofont-butterfly-alt"></i>
                      </div>
                      <h4>Provide Idea</h4>
                      <p>We offer professional web design services at affordable rates to help your business attract more visitors!</p>
                      <a class="learn-more">Learn More <i class="icofont icofont-long-arrow-right"></i></a>
                  </div>
              </div>
          </div>

      </div>
  </section>
<br><br>
    <section id="call-out" class="section-padding-bottom">
      <div class="container">
          <div class="row call-out">
              <div class="col-lg-6 col-md-7 col-12 text-md-left text-center mb-md-0 mb-4">
                  <h3>Connect with us for growth business</h3>
                  <p style="color: aliceblue;">Welcome to connect with us!</p>
              </div>
              <div class="col-lg-6 col-md-5 col-12 text-md-right text-center">
                  <a class="boxed-btn">Connect Now</a>
              </div>
          </div>
      </div>
  </section>
  </body>
