<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/../../assets/img/u.png" type="image/x-icon" />



  <title>Undin</title>

  <!-- Custom CSS -->





</head>


<!-- End: Preloader
============================= -->

<!-- Start: Header Top
============================= -->
<section id="header-top">
  <div class="container">

      <div class="row">
          <div class="col-lg-6 text-md-left text-center mb-lg-0 mb-1">
              <ul class="header-social d-inline-block">
                  <li><a><i class="icofont icofont-social-facebook"></i></a></li>
                  <li><a><i class="icofont icofont-social-twitter"></i></a></li>
                  <li><a><i class="icofont icofont-social-linkedin"></i></a></li>
                  <li><a><i class="icofont icofont-social-tumblr"></i></a></li>
                  <li><a><i class="icofont icofont-social-dribbble"></i></a></li>
              </ul>
              <div class="address d-inline-block"><i class="icofont icofont-social-google-map mr-2"></i>85 Bd Jean Jaurès, 91100 Corbeil-Essonnes, France</div>
          </div>
          <div class="col-6  text-center  mb-lg-0 mb-1 text-md-right" style="margin-top: -1.5%;">
              <div class="email d-inline-block" >
                  <a><i class="fa fa-envelope-o mr-2"></i>Quick Email</a>
              </div>
              <div class="phone d-inline-block">
                  <i class="fa fa-phone mr-2"></i>+33 9 77 19 66 55

              </div>
          </div>
      </div>
  </div>
</section>

<header id="header">

  <!-- Navigation Starts -->
  <div class="navbar-area sticky-nav">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-6">
                  <div class="logo main">
                      <a ><img class="responsive" src="assets/img/logo.png"></a>
                  </div>
              </div>

              <!-- Nav -->
              <div class="col-lg-6 d-none d-lg-block">
                  <nav class="text-right main-menu">
                      <ul>
                          <li class="active">
                              <a  routerLink="/home">Home</a>
                          </li>
                          <li><a routerLink="/about-us">About</a></li>

                          <li><a  routerLink="/service">Services</a></li>
                          <li><a routerLink="/home">Portfolio</a>

                          </li>
                          <li><a routerLink="/home">Gallery</a></li>
                          <li><a routerLink="/home" >Blog </a>

                          </li>
                          <li><a  routerLink="/contact">Contact</a></li>
                      </ul>
                  </nav>
              </div>
              <!-- Nav End -->

          
          </div>
      </div>

      <!-- Start Mobile Menu -->

      <!-- End Mobile Menu -->
  </div>
  <!-- Navigation End -->

  <!-- Header Slider -->

  <div class="row">
      <div class="col-md-12">
          <div class="header-slider">
              <div class="header-single-slider">
                  <figure>
                      <img src="assets/img/homepage/slider/slider01.jpg" alt="">
                      <figcaption>
                          <div class="content">
                              <div class="container inner-content text-left">
                                  <h1>Strengths of Successful Businesses</h1>
                                  <p style="color: rgb(255, 255, 255);">We believe the most important step a business can take is the next one.
                                      The first step is important, but the next step is vital because growing is changing.</p>
                                  <a class="boxed-btn">Explore More <i class="icofont icofont-long-arrow-right"></i></a>
                              </div>
                          </div>
                      </figcaption>
                  </figure>
              </div>
              <div class="header-single-slider">
                  <figure>
                      <img src="assets/img/homepage/slider/slider02.jpg" alt="">
                      <figcaption>
                          <div class="content">
                              <div class="container inner-content text-center">
                                  <h1>Strengths of Successful Businesses</h1>
                                  <p style="color: blanchedalmond;">We believe the most important step a business can take is the next one.
                                      The first step is important, but the next step is vital because growing is changing.</p>                                        <a class="boxed-btn">Explore More <i class="icofont icofont-long-arrow-right"></i></a>
                              </div>
                          </div>
                      </figcaption>
                  </figure>
              </div>
              <div class="header-single-slider">
                  <figure>
                      <img src="assets/img/homepage/slider/slider03.jpg" alt="">
                      <figcaption>
                          <div class="content">
                              <div class="container inner-content text-right">
                                  <h1>Strengths of Successful <br> Businesses</h1>
                                  <p style="color: blanchedalmond;">We believe the most important step a business can take is the next one.
                                      The first step is important, but the next step is vital because growing is changing.</p>                                        <a class="boxed-btn">Explore More <i class="icofont icofont-long-arrow-right"></i></a>
                              </div>
                          </div>
                      </figcaption>
                  </figure>
              </div>
          </div>
      </div>
  </div>
</header>

<section id="features-list">
  <div class="container">
      <div class="row text-lg-left text-md-center">
          <div class="col-md-4 mb-lg-0 mb-3">
              <div class="features-list-item wow fadeInUp" data-wow-delay="0.1s">
                  <span class="icon"><i class="icofont icofont-triangle" style="color:#bd081c"></i></span>
                  <h4 style="color: #233049;">Design For Business</h4>
                  <p class="small">The chunk standard of Lorem Ipsum used since the 900s is reproduced below</p>
                  <a class="view-more">View more</a>
              </div>
          </div>
          <div class="col-md-4 mb-md-0 mb-3">
              <div class="features-list-item wow fadeInUp" data-wow-delay="0.2s">
                  <span class="icon"><i class="icofont icofont-brand-airtel" style="color:#bd081c"></i></span>
                  <h4 style="color: #233049;">Develop For Work</h4>
                  <p class="small">The chunk standard of Lorem Ipsum used since the 900s is reproduced below</p>
                  <a class="view-more">View more</a>
              </div>
          </div>
          <div class="col-md-4">
              <div class="features-list-item wow fadeInUp" data-wow-delay="0.3s">
                  <span class="icon"><i class="icofont icofont-brand-teliasonera"  style="color:#bd081c"></i></span>
                  <h4 style="color: #233049;">Maketing For Blast</h4>
                  <p class="small">The chunk standard of Lorem Ipsum used since the 900s is reproduced below</p>
                  <a class="view-more">View more</a>
              </div>
          </div>
      </div>
  </div>
</section>
<section id="call-out">
  <div class="container">
      <div class="row call-out">
          <div class="col-lg-9 col-md-7 col-12 text-md-left text-center mb-md-0 mb-4">
              <h3>All of your favorite people</h3>
              <p style="color: blanchedalmond;">Welcome to connect with us!</p>
          </div>
          <div class="col-lg-3 col-md-5 col-12 text-md-right text-center">
              <a class="boxed-btn">Connect Now</a>
          </div>
      </div>
  </div>
</section>
<section id="about-us" class="section-padding-top">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="section-header text-left">
                  <span class="section-before"></span>
                  <h2>Who we are</h2>
              </div>
              <div class="section-info">
                  <p>Undin is a young, ambitious, professional  software development & consulting company, that designs, builds and implements effective software technology solutions to fulfill the needs of our customers. We provide technology consulting, digital transformation and software development services using the latest technologies. We leverage every piece of our technical and management expertise to deliver solutions that meet customer’s needs, business and budget expectations, Our team operates with enthusiasm and flexibility.</p>
                  <br>
                  <p> We are focused on our customers, being their reliable partner for IT services and solutions, working together on a partnership basis, helping them face the challenges of the modern times.</p>
              </div>
              <a class="boxed-btn " style="color: rgb(255, 255, 255);">Contact Us <i class="icofont icofont-long-arrow-right"></i></a>
            
          </div>
          <div class="col-lg-6">
              <div class="video-section">
                  <div class="play-icon">
                      <a  class="playbtn mfp-iframe"><img src="assets/img/aboutus/play-icon.png" alt=""></a>
                  </div>
                  <div class="watch-more">
                      <a>Watch more <i class="fa fa-youtube"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section id="skill" class="section-padding-top">
  <div class="container">

      <div class="row">
          <div class="col-md-6 offset-3">
              <div class="section-header">
                  <h2>Our purpose</h2>
                  <p>We have gathered a community of enthusiastic and ingenious people.</p>
              </div>
          </div>
      </div>



  </div>
</section>
<section id="blog-content">
  <div class="container">

      <div class="row">
          <!-- Blog Content -->
          <div class="col-lg-12">
              <article class="blog-post">
                  <div class="post-thumb">
                      <img src="assets/img/blog/full-width/blogpost01.jpg" alt="">
                      <div class="post-overlay">
                      </div>
                  </div>
                  <div class="post-content">
                      <h4 class="post-title"><a >Why are we here?
                      </a></h4>
                      <p class="content">
                        <i class="icofont icofont-tick-mark"></i>
                        We care about our clients’ projects like our own. For us, a client is just another teammate
                      </p>
                      <p class="content">
                        <i class="icofont icofont-tick-mark"></i>
                        Helping businesses grow is the reason we wake up every day.
                      </p>
                      <p class="content">
                        <i class="icofont icofont-tick-mark"></i>
                        We aim to be positive agents of change.
                      </p>
                      <p class="content">
                        <i class="icofont icofont-tick-mark"></i>
                        We care about finding and delivering the right solution for our clients.                      </p>
                      <a class="continue-reading">Continue reading <i class="fa fa-share"></i></a>
                  </div>
                  <ul class="meta-info">
                      <li class="post-date"><a ><i class="icofont icofont-ui-calendar"></i> Nov-30-2017</a></li>
                      <li class="posted-by"><i class="icofont icofont-user"></i> By <a>Admin</a></li>
                      <li class="post-tag"><a ><i class="icofont icofont-ui-tag"></i> Business</a></li>
                      <li class="post-category"><a><i class="icofont icofont-ui-folder"></i> Development</a></li>
                  </ul>
              </article>
              <article class="blog-post">
                  <div class="post-thumb">
                      <img src="assets/img/blog/full-width/blogpost02.jpg" alt="">
                      <div class="post-overlay">
                          <a><i class="fa fa-link"></i></a>
                      </div>
                  </div>
                 <div class="post-content">
                      <h4 class="post-title"><a >Who are we ?
                      </a></h4>
                      <p class="content">
                        <i class="icofont icofont-tick-mark"></i>
                        We have gathered a community of enthusiastic and ingenious people.
                      </p>
                      <p class="content">
                        <i class="icofont icofont-tick-mark"></i>
                        We are craftspeople, serious and passionate, always aiming for excellence in our fields.
                      </p>
                      <p class="content">
                        <i class="icofont icofont-tick-mark"></i>
                        We have been earning the trust of our clients across the globe for over a decade.
                      </p>

                      <a  class="continue-reading">Continue reading <i class="fa fa-share"></i></a>
                  </div>
                  <ul class="meta-info">
                      <li class="post-date"><a><i class="icofont icofont-ui-calendar"></i> Mar-01-2017</a></li>
                      <li class="posted-by"><i class="icofont icofont-user"></i> By <a>Admin</a></li>
                      <li class="post-tag"><a><i class="icofont icofont-ui-tag"></i> Business</a></li>
                      <li class="post-category"><a><i class="icofont icofont-ui-folder"></i> Development</a></li>
                  </ul>
              </article>
              <article class="blog-post">
                  <div class="post-thumb">
                      <img src="assets/img/blog/full-width/blogpost03.jpg" alt="">
                      <div class="post-overlay">
                          <a><i class="fa fa-link"></i></a>
                      </div>
                  </div>
                  <div class="post-content">
                    <h4 class="post-title"><a >How do we work?
                    </a></h4>
                    <p class="content">
                      <i class="icofont icofont-tick-mark"></i>
                      We constantly rethink the way we work to bring the change our clients need.
                    </p>
                    <p class="content">
                      <i class="icofont icofont-tick-mark"></i>
                      We are the dependable and trusted partners that will always go the extra mile and beyond.
                    </p>
                    <p class="content">
                      <i class="icofont icofont-tick-mark"></i>
                      We create the solutions our clients need by putting the people with the right skills in the room
                    </p>

                    <a  class="continue-reading">Continue reading <i class="fa fa-share"></i></a>
                </div>
                  <ul class="meta-info">
                      <li class="post-date"><a><i class="icofont icofont-ui-calendar"></i> Feb-24-2017</a></li>
                      <li class="posted-by"><i class="icofont icofont-user"></i> By <a>Admin</a></li>
                      <li class="post-tag"><a ><i class="icofont icofont-ui-tag"></i> Business</a></li>
                      <li class="post-category"><a ><i class="icofont icofont-ui-folder"></i> Development</a></li>
                  </ul>
              </article>

              <nav class="pagination" aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                      <li class="page-item active disabled"><a class="page-link" >1</a></li>
                      <li class="page-item"><a class="page-link" >2</a></li>
                      <li class="page-item"><a class="page-link">3</a></li>
                      <li class="page-item more-page">
                          <a class="page-link" >View More <i class="icofont icofont-long-arrow-right"></i></a>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>

  </div>
</section>
<section id="features" class="section-padding-top">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3 text-center">
              <div class="section-header">
                  <h2>Our Services</h2>
                  <p>Publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
              </div>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-lg-0 mb-4">
              <div class="features-item item-1 wow fadeInUp" data-wow-delay="0.1s">
                  <i class="icofont icofont-earphone"></i>
                  <h5>App Development</h5>
                  <p  style="color: blanchedalmond;">We offer professional web design services at affordable rates to help your business attract more visitors!</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-lg-0  mb-4">
              <div class="features-item item-2 wow fadeInUp" data-wow-delay="0.2s">
                  <i class="icofont icofont-vehicle-crane"></i>
                  <h5>Web Development
                  </h5>
                  <p  style="color: blanchedalmond;">We offer professional web design services at affordable rates to help your business attract more visitors!</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-md-0 mb-lg-0  mb-4">
              <div class="features-item item-3 wow fadeInUp" data-wow-delay="0.3s">
                  <i class="icofont icofont-architecture-alt"></i>
                  <h5>SEO Optimisation</h5>
                  <p  style="color: blanchedalmond;">We offer professional web design services at affordable rates to help your business attract more visitors!</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-lg-0 mb-4">
            <div class="features-item item-1 wow fadeInUp" data-wow-delay="0.4s">
                <i class="icofont icofont-earphone"></i>
                <h5>Provide Idea</h5>
                <p  style="color: blanchedalmond;">The five key functions of a financial system in a country are standard chunk of Lorem Ipsum use</p>
            </div>
        </div>
      </div>
      <br>
      <br>

  </div>
</section>





<br>
<br>
<br>
<br>
<section id="fun-fact">
  <div class="container">
      <div class="row text-center">
          <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-lg-0 mb-4">
              <div class="fact-item">
                  <i class="icofont icofont-runner-alt-1"></i>
                  <div><strong><span class="counter">9.1</span> B</strong></div>
                  <p>Users</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-4">
              <div class="fact-item">
                  <i class="icofont icofont-star-shape"></i>
                  <div><strong><span class="counter">2.26</span> K</strong></div>
                  <p>Reviews</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-12">
              <div class="fact-item">
                  <i class="icofont icofont-trophy"></i>
                  <div><strong><span class="counter">9.26</span> M</strong></div>
                  <p>Clients</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section id="ourteam" class="section-padding-top">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3 text-center">
              <div class="section-header">
                  <h2>Our Team</h2>
                  <p class="wow fadeInUp" data-wow-delay="0.1s">
                    About ten engineers and consultants and a large network of partners, this is what allows us to offer a global IT service in different fields and on all known technologies on the market.</p>
              </div>
          </div>
      </div>

  </div>
</section>
<br>
<br>
<section id="subscribe">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-md-12 text-lg-left text-center mb-lg-0 mb-3">
              <i class="icofont icofont-email"></i>
              <h3>Subscribe now for news</h3>
              <p>We provide you all of update</p>
          </div>
          <div class="col-lg-7 col-md-12 text-center">
              <form id="subscribe-form" action="#" method="POST">
                  <input type="email" name="email" id="subscribe-mail" placeholder="Input your email here" required>
                  <input type="submit" class="subscribe-btn boxed-btn mt-xl-0 mt-lg-3 mt-3" value="Subscribe">
              </form>
          </div>
      </div>
  </div>
</section>
<br>
<br><br><br>
<br><br>

<section id="contact-area">
  <div id="map"></div>
  <br>

  <div class="contact-box">
      <div class="row">
          <div class="col-lg-5 col-md-12">
              <div class="contact-us-info">
                  <h3>Contact Us</h3>
                  <ul class="contact-info">
                      <li>
                          <i class="icofont icofont-location-pin"></i>
                          <p>85 Bd Jean Jaurès, 91100 Corbeil-Essonnes, France</p>
                      </li>
                      <li>
                          <i class="icofont icofont-email"></i>
                          <p><a  class="__cf_email__" data-cfemail="90f1fdf9fcd0f3fffde0f1fee9bef3fffd">contact@undin.fr</a>
                              <br> <a  class="__cf_email__" data-cfemail="751c1b131a35111a18141c1b5b161a18">contact@undin.fr</a></p>
                      </li>
                      <li>
                          <i class="icofont icofont-ui-call"></i>
                          <p>+33 9 77 19 66 55
                              <br> +33 9 77 19 66 55</p>
                      </li>
                  </ul>
                  <a class="live-chat boxed-btn">Live Chat</a>

              </div>
          </div>
          <div class="col-lg-7 col-md-12">
              <div class="get-in-touch">
                  <h3>Get in Touch</h3>
                  <p>Feel free to contact with us</p>
                  <form  method="post">
                      <input type="text" name="your_name" class="form-control" id="name" placeholder="Your name" required>
                      <input type="email" name="your_mail" class="form-control" id="email" placeholder="Email here" required>
                      <textarea name="your_message" class="form-control" rows="1" placeholder="Type your message" required></textarea>
                      <button type="submit" class="boxed-btn"> Submit</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>


